html {
    width: 1440px;
    height: 900px;
    background-color: #FFFFFF;
}
body {
    display: flex;
    flex-direction: row;
}
.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}
.font {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    align-items: center;
    color: #1F2041;
}
.colors{
    display: flex;
    flex-direction: column;
}
.discriptions {
    display: flex;
    flex-direction: column;
}
.headers {
    display: flex;
    flex-direction: column;
}
.texts {
    display: flex;
    flex-direction: column;
}
.colors__color {
    position: relative;
    left: 150px;
    width: 70px;
    height: 70px;
    border-radius: 6px;
}
.discriptions__discription {
    position: relative;
    top: 152px;
    left: 190px;
    width: 171px;
    height: 56px;
}
.headers__header{
    position: relative;
    
    font-weight: 400;
    color: rgba(31, 32, 65, 0.25); 
}
.texts__text{
    position: relative;
    left: 735px;
    top: 145px;
    width: 369px;
    height: 59px;
}
.discriptions__color-number {
    font-weight: 400;
}
.colors__color_grey100 {
    background-color: rgba(31, 32, 65, 1);
    top: 145px;
}
.colors__color_grey75 {
    background-color: rgba(31, 32, 65, 0.75);
    top: 165px;
}
.colors__color_grey50 {
    background-color: rgba(31, 32, 65, 0.5);
    top: 185px;
}
.colors__color_grey25 {
    background-color: rgba(31, 32, 65, 0.25);
    top: 205px;
}
.colors__color_grey5 {
    background-color: rgba(31, 32, 65, 0.05);
    top: 225px;
}
.colors__color_purple {
    background-color: #BC9CFF;
    top: 245px;
}
.colors__color_green {
    background-color: #6FCF97;
    top: 265px;
}

.discriptions__discription_grey75 {
    top: 186px;
}
.discriptions__discription_grey50 {
    top: 220px;
}
.discriptions__discription_grey25 {
    top: 254px;
}
.discriptions__discription_grey5 {
    top: 288px;
}
.discriptions__discription_purple {
    top: 322px;
}
.discriptions__discription_green {
    top: 356px;
}

.texts__text_text1 {
    font-size: 24px;
    line-height: 29px;

    width: 369px;
    height: 59px;
}
.texts__text_text2 {
    line-height: 23px;

    top: 196px;
    width: 312px;
    height: 47px;
}
.texts__text_text3 {
    font-size: 12px;
    line-height: 15px;

    top: 247px;
    width: 186px;
    height: 15px;
}
.texts__text_text4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:rgba(31, 32, 65, 0.75);

    top: 297px;
    width: 301px;
    height: 48px;
}

.headers__header_H1 {
    font-size: 24px;

    left: 713px;
    top: 145px;
    width: 29px;
    height: 30px;
}
.headers__header_H2 {
    font-size: 19px;

    left: 715px;
    top: 225px;
    width: 27px;
    height: 24px;
}
.headers__header_H3 {
    font-size: 12px;

    left: 725px;
    top: 299px;
    width: 17px;
    height: 15px;
}
.headers__header_body {
    font-size: 14px;

    left: 705px;
    top: 349px;
    width: 37px;
    height: 24px;
}